.imagem2{
    background-image: url(https://i.pinimg.com/originals/e4/0c/5e/e40c5e81426311300b30c87e2ebea057.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.textos2{

    font-weight: bold !important;

}
.btnCancelar{
    margin-right: 20px !important;

}


    